Equation:</br></br>
$v_e$ = $\sqrt{\dfrac{2GM}{r}}$

In [9]:
import pandas as pd
from IPython.display import display
from math import sqrt
from scipy.constants import G

# Extract data from text file.
data = pd.read_csv('data.csv')
display(data)

# NOTE: The numbers from the data are relative numbers from earth's mass and radius.
#       Ex: Jupiter is 318 times mass of earth.

    Planet      Mass  Radius
0  Mercury    0.0558   0.383
1    Venus    0.8150   0.950
2    Earth    1.0000   1.000
3     Mars    0.1070   0.532
4  Jupiter  318.0000  11.200
5   Saturn   95.1000   9.410
6   Uranus   14.5000   4.060
7  Neptune   17.2000   3.880

In [17]:
def escape_velo(data):
    for sample in data.values:
        planet = sample[0]
        M = sample[1] * 5.9723e24
        r = sample[2] * 6378100    # times radius of earth in meters..
        result = sqrt(2 * G * M / r)    # meters per second
        result_mph = result * 3600 / 1609.344 # in mph
        print(f'Escape Velocity {planet}: {round(result_mph)} km/s')

escape_velo(data)

Escape Velocity Mercury: 9546 km/s
Escape Velocity Venus: 23164 km/s
Escape Velocity Earth: 25009 km/s
Escape Velocity Mars: 11216 km/s
Escape Velocity Jupiter: 133260 km/s
Escape Velocity Saturn: 79505 km/s
Escape Velocity Uranus: 47263 km/s
Escape Velocity Neptune: 52656 km/s